/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}
.heder-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}

.logo {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  padding: 0 10px 4px 0;
  /* padding-right: 12px; */
  /* padding-bottom: 3px; */
  line-height: 1;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}
/* навигация */

.nav {
}
.nav-list {
  display: flex;
  column-gap: 50px;
  font-size: 14px;
  font-weight: 500;
}

.nav-button {
  display: none;
}


@media  (max-width: 930px) {
    .nav-list {
      display: none;
    }
    .nav-button {
      display: block;
    }
  }

.nav-item {
}
.nav-link {
  color: #000;
}
.nav-link.active {
  color: #606060;
}
/* <!-- heder content --> */

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.header-content {
  margin-top: 124px;
  max-width: 500px;
}
.header-heading {
  font-weight: 600;
  font-size: 44px;
}
.header-content p {
  line-height: 2;
}
.header-img {
}

.services {
  padding: 90px 0;
}
/* .container {
} */
.services-row {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.service-card {
}
.service-card-img {
  margin-top: 30px;
}
.service-card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.service-card p {
  line-height: 2;
}
/* <!-- портфолио  --> */

.portfolio {
  background-color: #f1f1f1;
}

.portfolio-title {
  padding: 40px 0 40px 0;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}
.title-1 {
}

.project {
}
.project + .project {
  margin-top: 90px;
}
.project-img {
  margin-bottom: 40px;
}
.project-title {
  font-size: 18px;
}
.project-title a {
  color: #000;
  text-decoration: underline;
}

.contact {
  display: flex;
  /* max-width: 342px; */
  text-align: center;
}

.contact-title {
  margin-bottom: 40px;
}
.contact-content {
  margin-bottom: 40px;
  font-size: 18px;
}
.contact-content p + p {
  margin-top: 1em;
}

.contact-button {
}
.btn {
  display: inline-block;
  background-color: #000;
  border-radius: 30px;
  color: #fff;
  padding: 7px 22px;
  font-size: 18px;
  transition: ;
}
.btn:hover,
.btn:focus {
  background-color: #686868;
}
.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.contact-social {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.contact-footer {
}
