
body{
  padding: 30px;
}

.text {
  font-size: 24px;
  line-height: 33px;
  margin: 0 0 30px 0;
}
.list {
}

.list li{
   font-size: 24px;
   margin: 0 0 20px 0;
}
.text::first-line{
  color: blueviolet;
}
.text::first-letter{
  color: aqua;
  font-size: 50px;
}
.list li::before{
content: '';
width: 10px;height: 10px;
border-radius: 50%;
background-color: #e20c0c;
display: inline-block;
margin: 0 9px 0 0;

}

.list li::after{
  content: '';
  
  }